.body-div {
  width: 768px;
  height: 980px;
  background-image: url("http://ddx1wnnvabyqc.cloudfront.net/lined_paper_2.jpg");
}

.notes-section {
  position: absolute;
  font-size: 41px;
}

.notes-section-left {
  top: 276px;
  width: 300px;
  left: 150px;
}

.notes-section-left li {
  height: 66px;
}

.notes-section-right li {
  height: 67px;
}

.list-left {
  margin-left: 15px;
}

.list-right {
  width: 56px;
  height: 56px;
  border: 2px solid;
  border-radius: 13%;
}

.notes-section-right {
  top: 268px;
  width: 150px;
  left: 532px;
}

.notes-section input {
  -webkit-transform: scale(1.5) !important; /* Safari and Chrome */
  position: relative;
  top: -5px;
  padding: 10px;
}